body {
    background-color: #000000;
}

/*BDO*/
#BlackDesert {
    margin-left: 5%;
    font-weight: bold;
    font-style: normal;
    font-size: 80px;
    cursor: pointer;
    color: ButtonFace;
    text-shadow: 0 0 5px rgba(251, 213, 213, 0.5);
}

/*Resources-show-intro */
#Resources {
    margin-right: 2.70%;
    margin-bottom: 30px;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.div-resourcesn1 {
    border: 1px solid #353535;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
  
}

.idResourceName {
    font-weight: bold;
    font-size: 20px;
    color: ButtonFace;
    text-shadow: 0 0 5px rgba(251, 213, 213, 0.5);
}

/*Classes-show-intro*/
#Classes {
    margin-left:5%;
    margin-right:5%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    padding: 5px;
}


.div-Classes {
    background-color: #000000;
    border: 1px solid #353535;
    padding: 20px;
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
}

.ClassImgs {
    height: 50px;
}

.ClassNames {
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: ButtonFace;
    text-shadow: 0 0 5px rgba(251, 213, 213, 0.5);
}

#selectedClasses {
     margin-left:5%;
    margin-right:5%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    padding: 5px;
}

/*classes*/

#Details {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: auto auto ;
    padding: 5px;

}
/*div esquerda*/
.divEsquerda_view {


}
/*div direita*/
divDireita_view {


}

/*div esquerda*/

.ClassImgs_view {
    height: 40px;
}

.className {

}